.button {
    /* padding: 12px 20px; */
    /* border-radius: 5px; */
    cursor: pointer;
    /* font-size: 16px; */
    width: fit-content;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.button .icon {
    background: #fff;
}

/* Button Colors */

.primary {
    background: #44A1F2;
    border: 2px solid #FFFFFF;
    color: #fff;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
}

.secondary {
    border: 2px solid #D23A3A;
    background-color: #D23A3A;
    color: #fff;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
}

.success {
    border: 2px solid #1ED830;
    background-color: #1ED830;
    color: #fff;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
}
.disabled {
    border: 2px solid rgb(209, 208, 208);
    background-color: rgb(209, 208, 208);
    color: black;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
}
.light{
    background: #F8F8F8;
    border: 2px solid #D6D6D6;
    text-align:center;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
}

.detail{
    width: 37px;
    height: 37px;
    /* left: 911px;
    top: 32px; */
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
    /* border-radius: 10px; */
}

.interview{
    width: 162px;
    height: 37px;
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.btnBerkas{
    width: 95px;
    height: 33px;
    /* left: 772px;
    top: 53px; */
    background: #1ED830;
    border-radius: 30px;
    border: none;
    color: #fff;
}
/* Button Effects */

.button.primary:hover {
    background: #FFFFFF;
    border: 2px solid #44A1F2;
    color: #44A1F2;
}

.button.secondary:hover {
    color: #D23A3A;
    background-color: #fff;
}

.button.success:hover{
    color: #1ED830;
    background-color: white;
}
.button.light:hover{
    border-color:black;
}

/* Button Sizes */

.small {
    padding: 7px 20px;
    font-size: 12px;
}

.medium {
    padding: 5px;
    font-size: 15px;
}

.large {
    padding: 10px 23px;

}

/* Button Style */

.circle {
    /* padding: 23% 20px; */
    padding: 10px 12px;
    border-radius: 50% !important;
}

.rounded {
    border-radius: 30px !important;
}

.normal{
    border-radius: 10px;
}