.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    background-color: #F8F8F8;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 500;
    gap: 10px;
}

nav .sidebar-button .title-dashboard {
    background-color: #fff;
    padding: 17px 30px;
    box-shadow: 5px 37px 45px 9px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    font-family: "Inter Regular" !important ;
}

nav .sidebar-button i {
    font-size: 20px;
    padding: 10px 9px 3px 10px;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    background-color: #fff;
    /* margin-right: 10px; */
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background: #F5F6FA;
  border: 2px solid #EFEEF1; */
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}


nav .profile-details form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    /* width: 80%; */
    border: none;
    float: left;
    background: #fff;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
  border-radius: 10px 0 0   10px;
  }
  
  nav .profile-details form.search button {
    float: left;
    padding: 10px 15px ;
    background: #fff;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.14);
    border-radius: 0 10px 10px 0   ;
    color: black;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  
  nav .profile-details form.search::after {
    content: "";
    clear: both;
    display: table;
  }


@media (max-width: 700px) {
    nav .sidebar-button .title-dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
}